{
    "env": {
        "node": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
        "restParams": true
    },
    "rules": {
        "semi": 2,
        "quotes": [2, "single"],
        "no-undef": 2,
        "no-caller": 2,
        "no-use-before-define": [2, "nofunc"],
        "no-multi-spaces": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 1,
        "key-spacing": 0,
        "no-alert": 0,
        "no-shadow": 0,
        "new-cap": 0,
        "strict": 0,
        "consistent-return": 0,
        "no-unused-vars": 1,
        "space-before-keywords": [2, "always"],
        "space-after-keywords": 2
    }
}
